<form [formGroup]="investmentForm" (ngSubmit)="onSubmit()">
  <div class="input-group">
    <label for="initialInvestment">Initial investment: </label>
    <input id="initialInvestment" type="number" formControlName="initialInvestment" required>

    <label for="annualInvestment">Annual investment: </label>
    <input id="annualInvestment" type="number" formControlName="annualInvestment" required>
  </div>
  <div class="input-group">
    <label for="expectedReturn">Expected return: </label>
    <input id="expectedReturn" type="number" formControlName="expectedReturn" required>
    <label for="duration">Duration: </label>
    <input id="duration" type="number" formControlName="duration" required>
  </div>
  <div>
    <button type="submit" [disabled]="investmentForm.invalid">Calculate</button>
  </div>
</form>
