<app-places-container title="Your Favorite Places">
  @if (isLoading() && !error()) {
    <p class="fallback-text">Loading favorite places...</p>
  }

  @if (error()) {
    <p class="fallback-text">{{ error() }}</p>
  }

  @if (userPlaces() && userPlaces().length > 0) {
    <app-places [places]="userPlaces()!" (selectPlace)="onRemovePlace($event)"/>
  } @else if (userPlaces()?.length === 0) {
    <p class="fallback-text">Unfortunately, no favorite places could be found.</p>
  }
</app-places-container>
