<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>Login</h2>

  <div class="control-row">
    <div class="control no-margin">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" [formControl]="form.controls.email"/>
    </div>

    <div class="control no-margin">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" formControlName="password"/>
    </div>

    <button class="button">Login</button>
  </div>

  @if (isEmailInvalid) {
    <p class="control-error">
      Invalid email address.
    </p>
  }
  @if (isPasswordInvalid) {
    <p class="control-error">
      Invalid password format entered.
    </p>
  }

  @if (form.controls.password.hasError('mustContainQuestionMark')) {
    <p class="control-error">
      Password must contain question mark!
    </p>
  }
</form>
